/* &display=swap */
@import "null.css";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap');

/* ================================================================ */
.wrapper {
	min-height: 100%;
	overflow: hidden;
	background: #242224;
}

body {
	font-size: 16px;
	font-family: "Roboto";
	font-style: normal;
	font-weight: 400;
	color: #FFFFFF;
}

/* ================================================================ */

[class*="__container"] {
	margin: 0px auto;
	max-width: 1150px;
}

.header {
	background: url("../img/header/placeholder.png") 0 0/cover no-repeat;
	min-height: 1080px;
}

.header__container {
	/*display: flex;*/
	position: relative;
	padding: 0px 0px 320px 0px;
}

.header::before {
	width: 100%;
	height: 3px;
	content: "";
	display: inline-flex;
	background: #313032;
	position: relative;
	top: 105px;
	left: 0;
}

.header__menu,
.heade__item {
	padding: 40px 0px 110px 0px;
}



.header__icon-1,
.header__icon-2 {
	flex: 0 0 23px;
}



.header__icon-2 {
	transform: translate(0px, 8px);
}

.header__link-ico:not(:last-child) {
	margin: 0px 20px 0px 0px;
}

.header__nav {
	position: absolute;
	top: 0;
	right: 0;

}

.heade__item {
	display: inline-flex;
	font-weight: 700;
	font-size: 14px;
}

.heade__item:hover {
	color: #34C759;
}

.heade__item:not(:last-child) {
	margin: 0px 40px 0px 0px;
}

.block-food {
	padding: 0px 0px 180px 0px;
	position: relative;
}

.sub-title {
	font-size: 72px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.1em;
	text-transform: capitalize;
}

.sub-title_margin {
	margin: 0px 0px 20px 0px;
}

.block-food__title {
	font-size: 16px;
	line-height: 1.62;
	text-align: center;
	letter-spacing: -0.2px;
	opacity: 0.7;
}

.block-food__title_margin {
	max-width: 595px;
	margin: 0 auto;
}

.button {
	font-weight: 700;
	font-size: 18px;
	line-height: 1.2;
	text-align: center;
	letter-spacing: 0.2em;
	color: #1A1A1A;
	background: #34C759;
	padding: 23px 47px 23px 47px;
	border-radius: 35px;
	display: inline-flex;
	position: relative;
	max-width: 220px;
}

.button:hover {
	background: #4d4d4d3c;
	color: rgba(255, 255, 255, 0.5);
	border: 1px solid #85878C;
}

.button_position {
	position: absolute;
	bottom: 50px;
	left: 50%;
	transform: translate(-50%, 0%);
}

.block-row {}

.block-row__content {
	max-width: 699px;
	margin: 0 auto;
}

.block-row__card {
	flex: 1 1 23.333%;
	display: inline-flex;

}

.block-row__card:not(:last-child) {
	margin: 0px 80px 0px 0px;
}

.block-row__image {
	flex: 0 0 20px;
	text-align: center;
	align-items: center;
	justify-content: center;
	vertical-align: top;
}

.block-row__image_margin {
	margin: 0px 0px 16px 0px;
}

.block-row__text {
	display: flex;
	text-align: center;
	align-items: center;
	justify-content: center;
	font-size: 16px;
	line-height: 1.88;
}

.main {}

.the-basics {
	padding: 0px 0px 80px 0px;
	position: relative;
	top: -90px;
	left: 0;
}

.the-basics__container {
	background: #303030;
	padding: 0px 0px 90px 0px;
}

.the-basics__header {
	text-align: center;
	position: relative;
}

.the-basics__sub-title {
	font-weight: 900;
	font-size: 100px;
	line-height: 1.5;
	letter-spacing: 0.2em;
	color: #484848;

}

.the-basics__title {
	font-size: 30px;
	line-height: 2;
	letter-spacing: 0.2em;
	color: #D9D9D9;
}

.the-basics__content {
	text-align: center;
}

.the-basics__text {
	font-size: 16px;
	line-height: 1.88;
	text-align: center;
	color: #A6A6A6;
	padding: 0px 0px 80px 0px;
}

.the-basics__text_margin {
	max-width: 734px;
	margin: 0 auto;
}

.the-basics__title_position {
	position: absolute;
	top: 40px;
	left: 50%;
	transform: translate(-50%, 0%);
}

.the-badics__image {}

/*
.the-basics__image::before {
	content: "";
	display: inline-flex;
	width: 60px;
	height: 60px;
	background: url("../img/the/white1.svg");
	position: relative;
	top: 120px;
	left: -50px;
}

.the-basics__image::after {
	content: "";
	display: inline-flex;
	width: 60px;
	height: 60px;
	background: url("../img/the/white2.svg");
	position: relative;
	top: 120px;
	left: 50px;
}
*/

.the-badics__link:not(:last-child) {
	margin: 0px 40px 0px 0px;
}

.dish-of {
	display: flex;
	flex-direction: column;
}

.dish-of__container {}

.dish-of__column {
	display: inline-flex;
	max-width: 350px;
	background: #303030;
	row-gap: 30px;
	margin: 0px 0px 30px 20px;
	border-radius: 5px;

}

.dish-of__column:hover {
	box-shadow: 2px 2px 8px 8px #85878c68;

}

.dish-of__body {
	flex: 1 1 33.333%
}

.dish-of__image_margin {
	margin: 0px 0px 30px 0px;
}



.dish-of__picture {
	flex: 0 0 350px;
	border-radius: 5px;
}

.dish-of__title {
	font-size: 32px;
	line-height: 94%;
	color: #D9D9D9;
	padding: 0px 10px 0px 10px;
}

.dish-of__title_margin {
	margin: 0px 0px 20px 0px;
}

.dish-of__title span {
	font-size: 12px;
	line-height: 16px;
	letter-spacing: -0.15px;
	color: #A4A8B2;
	display: inline-flex;

}

.dish-of__text {
	font-size: 13px;
	line-height: 1.38;
	letter-spacing: -0.1625px;
	color: #85878C;
	padding: 0px 10px 0px 10px;
}


.dish-of__text_margin {
	margin: 0px 0px 30px 0px;
}



.dish-of__estimation {
	display: inline-flex;
	padding: 0px 10px 0px 10px;

}

.dish-of__number {
	position: relative;
	bottom: 5px;
	left: 15px;
	font-size: 12px;
	line-height: 2.5;
	letter-spacing: 1.5px;

	color: #B3B3B3;
}

.button_margin {
	position: relative;
	bottom: 20px;
	left: 40px;
}

.button_margin-black {
	background: #313032;
	color: rgba(255, 255, 255, 0.5);
	border: 1px solid #4D4D4D;
	position: relative;
	bottom: 20px;
	left: 40px;
}

.button_margin-black:hover {
	background: #34C759;
	color: #1A1A1A;

}

.breakfast {
	display: flex;
	flex-direction: column;
}

.breakfast__container {}

.breakfast__content {
	display: inline-flex;
}

.breakfast__backround {
	max-width: 540px;
	background: url("../img/breakfast/background.jpg") 0 0/cover no-repeat;
	padding: 0px 60px 90px 60px;
	border-radius: 6px;
	position: relative;
	top: 0;
	left: 0;
}

.breakfast__image {
	position: absolute;
	top: 0;
	right: 0;
}



.breakfast__title {
	background: #000000;
	max-width: 90px;
	opacity: 0.3;
	font-size: 10px;
	line-height: 2.5;
	text-align: center;
	letter-spacing: 1.25px;
	text-transform: uppercase;
	position: absolute;
	top: 60px;
	left: 50%;
	transform: translate(-50%, 0%);
	padding: 5px 10px 5px 10px;
	border-radius: 5px;

}

.breakfast__data {
	position: absolute;
	top: 150px;
	left: 50%;
	transform: translate(-50%, 0%);
	font-size: 14px;
	line-height: 2.14;
}

.breakfast__text {
	font-size: 24px;
	line-height: 1.67;
	position: relative;
	top: 205px;
	left: 50px;

}

.column-breakfast__text_margin {
	margin: 0px 0px 10px 0px;
}



.breakfast__backround_margin {
	margin: 0px 30px 0px 0px;
}

.breakfast__info-block {
	max-width: 540px;
}

.breakfast__column {
	padding: 30px 30px 0px 30px;
}

.column-breakfast_green {
	background: #34C759;
	line-height: 1.88;
	color: #252525;
	border-radius: 6px;
	margin: 0px 0px 30px 0px;
}

.column-breakfast_black {
	line-height: 1.88;
	background: #252525;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	margin: 0px 0px 30px 0px;

}

.column-breakfast_background {
	background: url("../img/breakfast/background2.jpg") 0 0/cover no-repeat;
	line-height: 1.88;
	box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
	border-radius: 6px;
	margin: 0px 0px 30px 0px;

}

.breakfast__name {
	position: absolute;
	bottom: 130px;
	left: 220px;
}

.breakfast__footer {
	position: absolute;
	bottom: 30px;
	left: 190px;
}

.breakfast__ico {
	padding: 0px 15px 0px 0px;
}

.breakfast__link:not(:last-child) {
	margin: 0px 20px 0px 0px;
}